{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a New Page
{% endblock %}

{% block body %}
    <h1>Create a new Entry</h1>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input type="text" id="title" name="title" required>
        <br/>
        <label for="content">Content</label>
        <br>
        <textarea id="content" name="content" rows="30" cols="20" required>
        </textarea>
        <br/>
        <input type="submit" value="Create Entry">
    </form>
{% endblock %}